__pycache__
.ipynb_checkpoints
models/models_all
models/models_clip
models/clip_fer.pth
models/resnet18_fer.pth
/training/experimentation
/data
steps.md
/papers/ResEmoteNet_2409.10545v1.pdf
/papers/Facial emotion recognition  A comprehensive review - 2024 - Kaur.pdf
/experiments/inference_rate.ipynb

main_res.py
model_architecture_res.py